@model SchoolApp.Models.TurmaViewModel

@{
    ViewData["Title"] = "Edit";  Layout = null;
}
<head>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

     <link rel="stylesheet" href="~/css/Create.css" />
</head>
<partial name="_Navbar" />
   <body    style=" background-image: url(../../images/students.jpg) ; background-repeat: no-repeat;background-size: cover;">
         <h1 style="font-size: 50px;align-items:center;background: #ecf4ffa3;margin-left: 702px;margin-top: 30px;padding-right:0px; width: 295px;">Editar Turma</h1>
         <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
<main style="    margin-left:  855px;
    margin-top: 518px;
    width: 845px;">
 


  <figure style="width: 837px;">
   
    <div class="form1" style="padding-top:16px;margin-left: 196px;">
        <span  class="inputs--filled">
          <label for="username" class="text-small-uppercase">Nome:</label>
          <input class="text-body"asp-for="Nome" id="username"type="text" required>
           <span asp-validation-for="Nome" class="text-danger"></span>
        </span>
        <span  class="inputs--filled">
            <label for="username" class="text-small-uppercase">Data Início</label>
            <input class="text-body"  asp-for="DataInicio"  id="date" type="date" style="
             width: 350px;
             height: 30px;
             background: #f79577;
             margin-top: 40px;"required>
              <span asp-validation-for="DataInicio" class="text-danger"></span>
          </span>
              <span>
            <label for="username" class="text-small-uppercase">Data Fim</label>
            <input class="text-body"  asp-for="DataFim"  id="date1" type="date" style="
             width: 350px;;
             height: 30px;
             background: #f79577;
             margin-top: 40px;"required>
              <span asp-validation-for="DataFim" class="text-danger"></span>
          </span>
             <span  class="inputs--filled">
        <label style="padding-top:50px" class="text-small-uppercase">Curso:</label>
      
        <div style="padding-top: 13px;
    padding-left: 431px;"class="box">
             <select asp-for="CursoId" asp-items="Model.Cursos" ></select>
             <span asp-validation-for="CursoId" class="text-danger"></span>
             
          </div>
      </span>
        
    </div>
    
    <input class="text-small-uppercase" style="left: 360px;
    bottom: 135px;
}" id="submit" type="submit" value="Editar">
 <h2 style="text-align: right;

    color: red;
    font-size: 25px;">@ViewBag.message</h2>
  </figure>
 
 

 
</main>
 </form>
    </body>


        
<partial name="_footer" />
<script src="~/js/create.js"></script>
