@{
    ViewData["Title"] = "Error";
    Layout = null;
    <partial name="_Navbar" />
}

@if (ViewBag.TituloErro == null)
{
    <br>
    <br>
    <h3 style = "padding-top:40px"class="text-center text-danger">Erro</h3>
    <br>
    <div>
        <p class="text-center">Ocurreu um erro enquanto processavamos o seu pedido</p>
    </div>
}
else
{
    <br>
    <br>
    <h3 style = "padding-top:40px" class="text-center text-danger">@ViewBag.TituloErro</h3>
    <br>
    <div>
        <p class="text-center">@(ViewBag.MensagemErro)</p>
    </div>
}
 
