@model SchoolApp.Models.FaltaDisciplinaViewModel
@{
    ViewData["Title"] = "Adicionar Falta - Disciplina";
}

<br />
<div class="row">
      <form asp-action="CreateDisciplinaFaltas">
            <input type="hidden" asp-for="turmaid" />
            <input type="hidden" asp-for="nometurma" />
            <input type="hidden" asp-for="CursoId" />
            <input type="hidden" asp-for="CursoNome" />
            <input asp-for="nometurma" class="form-control font-weight-bold bg-secondary" style="height: 3rem; color: white;" disabled="disabled" />
             <input asp-for="CursoNome" class="form-control" style="height: 3rem;" disabled="disabled" />
            <br>


      <div class="form-group text-center">
                <label asp-for="disciplinaid" class="control-label" ></label>
                <select asp-for="disciplinaid" asp-items="Model.Disciplinas" class="form-control"></select>
                <span asp-validation-for="disciplinaid" class="text-danger"></span>
              </div>
                 <div class="form-group">
                <input type="submit" value="Continuar" class="btn btn-primary" />
            </div>


          </form>

       
    </div>
      <div class="form-group text-center">
   <a asp-controller="Notas" asp-action=" CreateTurmaNota" asp-route-idturma="@Model.turmaid"class="btn btn-secondary">Voltar</a>
   </div>
