@model SchoolApp.Data.Entities.Disciplina

@{
    ViewData["Title"] = "Delete";
          Layout = null;
}
<head>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
     <link rel="stylesheet" href="~/css/Create.css" />
</head>
<partial name="_sidebar" />
   <body style=" background-image: url(../../images/classroom.jpg) ; background-repeat: no-repeat;background-size: cover;">
         <h1 style="font-size: 50px;align-items:center;background: #ecf4ffa3;margin-left: 766px;margin-top: 30px;padding-right:0px;width:424px;">Apagar Disciplina</h1>
<main style="margin-left: 950px;
    margin-top: 518px;
    width: 850px;">
 


      
  <figure style="
   width: 436px;
    padding-left: 229px;
">
       <label style="
    margin-right: 390px; font-size: 25px; color:black;     width: 525px;
" class="text-small-uppercase">Tem a certeza que deseja eliminar esta disciplina?</label>
        <span class="inputs--filled" >
          <label for="username" style="
    margin-right: 390px; font-size: 25px; margin-top: 100px;
" class="text-small-uppercase">Nome:</label>
          <a class="text-body" style= "font-size: 25px;color:black; margin-top: 20px;">  @Html.DisplayFor(model => model.Nome)  </a>
           
        </span>
        <span class="inputs--filled" >
            <label for="username" style="
    margin-right: 390px; font-size: 25px; margin-top: 20px;" class="text-small-uppercase">Duracao:</label>
             <a class="text-body" style= "font-size: 25px;color:black; margin-top: 20px;"> @Html.DisplayFor(model => model.Duracao)  </a>
          </span>
        <span class="inputs--filled" >
          <label for="email"style="
    margin-right: 390px;font-size: 25px; margin-top: 20px;"class="text-small-uppercase">Descrição:</label>
           <a class="text-body" style= "font-size: 25px;color:black; margin-top: 20px;"> @Html.DisplayFor(model => model.Descrição)  </a>
        </span>

            <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input id="submit" type="submit" value="Delete" style="margin-left: 343px;
    margin-bottom: -4px;" class="text-small-uppercase"/> 
       
    </form>


         <h2 >@ViewBag.errormessage</h2>
         </figure>
  </main>
  </body>
  
  <script src="~/js/create.js"></script>
<script>
         const wrapper = document.querySelector(".wrapper");
         const fileName = document.querySelector(".file-name");
         const defaultBtn = document.querySelector("#default-btn");
         const customBtn = document.querySelector("#custom-btn");
         const cancelBtn = document.querySelector("#cancel-btn i");
         const img = document.querySelector("img");
         let regExp = /[0-9a-zA-Z\^\&\'\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;
         function defaultBtnActive(){
           defaultBtn.click();
         }
         defaultBtn.addEventListener("change", function(){
           const file = this.files[0];
           if(file){
             const reader = new FileReader();
             reader.onload = function(){
               const result = reader.result;
               img.src = result;
               wrapper.classList.add("active");
             }
             cancelBtn.addEventListener("click", function(){
               img.src = "";
               wrapper.classList.remove("active");
             })
             reader.readAsDataURL(file);
           }
           if(this.value){
             let valueStore = this.value.match(regExp);
             fileName.textContent = valueStore;
           }
         });
      </script>