@model SchoolApp.Data.Entities.Disciplina

@{
    ViewData["Title"] = "Edit";
          Layout = null;
}
<head>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
     <link rel="stylesheet" href="~/css/Create.css" />
</head>
<partial name="_sidebar" />
   <body style=" background-image: url(../../images/classroom.jpg) ; background-repeat: no-repeat;background-size: cover;">
         <h1 style="font-size: 50px;align-items:center;background: #ecf4ffa3;margin-left: 766px;margin-top: 30px;padding-right:0px;width:400px;">Editar Disciplina</h1>
<main style="margin-left: 950px;
    margin-top: 518px;
    width: 850px;">
 


        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
  <figure style="
    width: 1170px;
">
   
    <div class="form1" style="padding-top: 182px;
    margin-left: 81px;
    height: 262px;">
        <span class="inputs--filled">
          <label for="username" class="text-small-uppercase">Nome</label>
          <input class="text-body" style="color:black;"asp-for="Nome" id="username"type="text" required>
           <span asp-validation-for="Nome" class="text-danger"></span>
        </span>
        <span class="inputs--filled">
            <label for="username" class="text-small-uppercase">Duração</label>
            <input class="text-body" style="color:black;"  asp-for="Duracao"  id="username" type="number" required>
              <span asp-validation-for="Duracao" class="text-danger"></span>
          </span>
        <span class="inputs--filled">
          <label for="email" class="text-small-uppercase">Descrição</label>
          <input class="text-body"style="color:black;" asp-for="Descrição" id="username"  type="text" required>
           <span asp-validation-for="Descrição" class="text-danger"></span>
        </span>
         <input class="text-small-uppercase" style="left: 288px;
    bottom: 13px;" id="submit" type="submit" value="Editar">
    </div>
  </figure>
  </form>
  </main>
  </body>

  <script src="~/js/create.js"></script>
<script>
         const wrapper = document.querySelector(".wrapper");
         const fileName = document.querySelector(".file-name");
         const defaultBtn = document.querySelector("#default-btn");
         const customBtn = document.querySelector("#custom-btn");
         const cancelBtn = document.querySelector("#cancel-btn i");
         const img = document.querySelector("img");
         let regExp = /[0-9a-zA-Z\^\&\'\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;
         function defaultBtnActive(){
           defaultBtn.click();
         }
         defaultBtn.addEventListener("change", function(){
           const file = this.files[0];
           if(file){
             const reader = new FileReader();
             reader.onload = function(){
               const result = reader.result;
               img.src = result;
               wrapper.classList.add("active");
             }
             cancelBtn.addEventListener("click", function(){
               img.src = "";
               wrapper.classList.remove("active");
             })
             reader.readAsDataURL(file);
           }
           if(this.value){
             let valueStore = this.value.match(regExp);
             fileName.textContent = valueStore;
           }
         });
      </script>


         

