@model SchoolApp.Models.CursoDisciplinaViewModel

@{

    ViewData["Title"] = "Create";
    Layout = null;

}
<head>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    
     <link rel="stylesheet" href="~/css/Create.css" />
     <partial name="_Navbar" />
</head>
>

  <body  style=" background-image: url(../../images/students.jpg) ; background-repeat: no-repeat;background-size: cover;">
     
         <h1 style="font-size: 50px;align-items:center;background: #ecf4ffa3;margin-left: 766px;margin-top: 30px;padding-right:0px; width: 450px;">Inserir Disciplina</h1>

 <main style="    margin-left:  845px;
    margin-top: 518px;
    width: 845px;">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>

 
    <form asp-action="Create" enctype="multipart/form-data">
          
  <figure style="padding-left: 217px;
    width: 696px;">
      <span class="inputs--filled" >
          <label for="username" style="
    margin-right: 390px; font-size: 25px; margin-top: 100px;
" class="text-small-uppercase">Nome:</label>
          <a class="text-body" style= "font-size: 25px;color:black; margin-top: 20px;">  @Html.DisplayFor(model => model.Curso.Nome)  </a>
           
        </span>
        <span class="inputs--filled" >
            <label for="username" style="
    margin-right: 390px; font-size: 25px; margin-top: 20px;" class="text-small-uppercase">Curso:</label>
             <a class="text-body" style= "font-size: 25px;color:black; margin-top: 20px;"> @Html.DisplayFor(model => model.Curso.Descricao)  </a>
          </span>

     <label for="username" style="
    margin-right: 390px; font-size: 25px; margin-top: 20px;" class="text-small-uppercase">Selecione as Disciplinas:</label>
    
    <select  style="margin-top:30px; width: 100px;"id="multiple-checkboxes"   class="mdb-select disable-toggle-all" asp-for="disciplinaids" asp-items="Model.listdisciplinas" multiple></select>

    <label for="username" style="
        
    font-size: 12px;
    
    color: black;
}" class="text-small-uppercase">Aperte a tecla Ctrl para selecionar mais que uma disciplina</label>
   
        

   <input class="text-small-uppercase" style="left: 360px;
    bottom: 135px;
}" id="submit" type="submit" value="Criar">
 <h2 style="text-align: right;

    color: red;
    font-size: 25px;">@ViewBag.errormessage</h2>
  </figure>
 
 

  </form>
</main>

    </body>



    <script type="text/javascript">
    $(document).ready(function() {
        $('#multiple-checkboxes').multiselect({
          includeSelectAllOption: false,
        });
    });
    </script>



