@model SchoolApp.Models.AddTurmaViewModel
@{
    ViewData["Title"] = "AddTurma";
}

<h1>AddTurma</h1>

    <div class="form-group">
                <label asp-for="TurmaId" class="control-label"></label>
                <select asp-for="TurmaId" asp-items="Model.Turmas" class="form-control"></select>
                <span asp-validation-for="TurmaId" class="text-danger"></span>
            </div>

