@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
/*
body {
    width: 100%;
    background-color: #E3E6F3;
    position: relative;
    
}
*/
.board {
    width: 96.5%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background-color: rgba(216, 130, 31, 0.493);
    border-radius: 8px;
}

    .board img {
        width: 45px;
        height: 45px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 15px;
    }

    .board h5 {
        font-weight: 600;
        font-size: 14px;
    }

    .board p {
        font-weight: 400;
        font-size: 13px;
        color: #c1310d;
    }

    .board .item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: start;
    }

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #787d8d;
}

thead td {
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: coral;
    text-align: start;
    padding: 15px;
}

tbody tr td {
    padding: 10px 15px;
}

.active p {
    background: #491902;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: rgb(255, 253, 253);
}

.edit a {
    text-decoration: none;
    font-size: 14px;
    color: #222;
    font-weight: 600;
}
.button-56 {
    align-items: center;
    background-color: #531502;
    border: 2px solid #ffd3d300;
    border-radius: 8px;
    box-sizing: border-box;
    color: #fffbfb;
    cursor: pointer;
    height: -68px;
    justify-content: center;
    line-height: 24px;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;


}

    .button-56:after {
        background-color: #ff7f50a1;
        border-radius: 8px;
        content: "";
        display: block;
        height: 31px;
        left: 0;
        width: 100%;
        position: absolute;
        top: -2px;
        transform: translate(8px, 8px);
        transition: transform .2s ease-out;
        z-index: -1;
    }

    .button-56:hover:after {
        transform: translate(0, 0);
    }

    .button-56:active {
        background-color: #ffdeda;
        outline: 0;
    }

    .button-56:hover {
        outline: 0;
    }

    /* search*/
.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

/* ==== 1. animated seachbox ===== */
#animated input[type=text] {
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
}

    #animated input[type=text]:focus {
        width: 500px;
    }

#animated i {
    position: relative;
    left: 30px;
}

/* ===== 2. standard seachbox ==== */

.search-txt-input {
    padding: 12px 20px;
    font-size: 14px;
    border: 1px solid #c8c8c8;
    border-right: 0px;
    border-top-left-radius: 4px 4px;
    border-bottom-left-radius: 4px 4px;
    width: 200px;
}

.search-button {
    padding: 12px 15px;
    font-size: 16px;
    outline: none;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #531502;
    border-left: 10px;
    background: #531502;
    border-top-right-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    position: relative;
    left: -5px;
}

    .search-button:hover {
        text-decoration: none;
        background: #f67c35;
    }

    /* Fixes submit button height problem in Firefox */
    .search-button::-moz-focus-inner {
        border: 0;
    }

/* === 3. standard animated seachbox === */

#animated-2 .search-txt-input {
    width: 200px;
    -webkit-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
}

#animated-2 input[type=text]:focus {
    width: 500px;
}

/* == 4. standard seachbox with icon === */

button[type='submit'] {
    background-color: #531502;
    color: #fff;
    cursor: pointer;
}

    button[type='submit']:hover {
        background-color: #531502;
        color: #fff;
        cursor: pointer;
    }

/* === 5. standard seachbox with icon animated === */

#standard-3 .search-txt-input {
    width: 200px;
    -webkit-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
}

#standard-3 input[type=text]:focus {
    width: 500px;
}
.columndash {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.rowdash {
    margin: 0 -5px;
}

    /* Clear floats after the columns */
    .rowdash:after {
        content: "";
        display: table;
        clear: both;
    }

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
    .columndash {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}