@model SchoolApp.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = null;
}

<head>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

     <link rel="stylesheet" href="~/css/Create.css" />
</head>
<partial name="_Navbar" />
   <body    style=" background-image: url(../images/students.jpg) ; background-repeat: no-repeat;background-size: cover;">
         <h1 style="font-size: 50px;align-items:center;background: #ecf4ffa3;margin-left: 692px;margin-top: 30px;padding-right:0px; width: 478px;">Atualizar Password</h1>
              <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
<main style="    margin-left: 924px;
    margin-top: 261px;
    width: 609px;
    height: 367px;">
 


  <figure style="    width: 613px;">
   
    <div class="form1" style="padding-top: 16px;
    margin-left: 210px;">
         <span>
          <label for="username" class="text-small-uppercase">Antiga Password:</label>
          <input class="text-body"asp-for="OldPassword" id="username"type="text" required>
           <span asp-validation-for="OldPassword" class="text-danger"></span>
        </span>
        <span>
          <label for="username" class="text-small-uppercase">Nova Password:</label>
          <input class="text-body"asp-for="NewPassword" id="username"type="text" required>
           <span asp-validation-for="NewPassword" class="text-danger"></span>
        </span>
             <span>
          <label for="username" class="text-small-uppercase">Confirme a Password:</label>
          <input class="text-body"asp-for="Confirm" id="username"type="text" required>
           <span asp-validation-for="Confirm" class="text-danger"></span>
        </span>
        
            <input class="text-small-uppercase" style=" left: 12px;
    bottom: 420px;
" id="submit" type="submit" value="Alterar Password">
    </div>
    

 <h2 style="text-align: right;

    color: red;
    font-size: 25px;">@ViewBag.Message</h2>
  </figure>
 
 

 
</main>
 </form>
    </body>
    <partial name="_footer" />
<script src="~/js/create.js"></script>
<script>
         const wrapper = document.querySelector(".wrapper");
         const fileName = document.querySelector(".file-name");
         const defaultBtn = document.querySelector("#default-btn");
         const customBtn = document.querySelector("#custom-btn");
         const cancelBtn = document.querySelector("#cancel-btn i");
         const img = document.querySelector("img");
         let regExp = /[0-9a-zA-Z\^\&\'\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;
         function defaultBtnActive(){
           defaultBtn.click();
         }
         defaultBtn.addEventListener("change", function(){
           const file = this.files[0];
           if(file){
             const reader = new FileReader();
             reader.onload = function(){
               const result = reader.result;
               img.src = result;
               wrapper.classList.add("active");
             }
             cancelBtn.addEventListener("click", function(){
               img.src = "";
               wrapper.classList.remove("active");
             })
             reader.readAsDataURL(file);
           }
           if(this.value){
             let valueStore = this.value.match(regExp);
             fileName.textContent = valueStore;
           }
         });
      </script>


