@model SchoolApp.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
    <link rel="stylesheet" href="~/css/login.css">
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<partial name="_Navbar" />
<html>
<body>
	<section class="login">
		<div class="login_box">
			<div class="left">
			
				<div class="contact">
					  <form method="post">
                           <div asp-validation-summary="ModelOnly"></div>
						<h3>Login</h3>
						<input  style ="background-color: #ff7f5066;"type="text" asp-for="UserName" placeholder="EMAIL">
                         <span asp-validation-for="UserName" class="text-warning"></span>
						<input  style ="background-color: #ff7f5066;" type="text" asp-for="Password" placeholder="PASSWORD">
                        <span asp-validation-for="Password" class="text-warning"></span>
						
                     


              
                    <div class="form-check">
                    <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                    <label style="padding-top: 10px;"asp-for="RememberMe" class="form-check-label">Remember me?</label>
                      <span asp-validation-for="RememberMe" class="text-warning"></span>
                </div>
              
               
                 <input type="submit" value="Login"  class="submit" />
                 
                      <button asp-action="RecoverPassword" class="btn btn-success" style="    background-color: #853a1f;
                      margin-left: 68px;"> Recuperar Password</button>
					</form>
                    </div>
                    <h2 style="color:red">@ViewBag.errorMessage</h2>
                    </div>
			<div class="right">
				<div class="right-text">
					<h2>Escola</h2>
					<h5>Oferecemos uma educação futurista</h5>
				</div>
				<div class="right-inductor"><img src="https://lh3.googleusercontent.com/fife/ABSRlIoGiXn2r0SBm7bjFHea6iCUOyY0N2SrvhNUT-orJfyGNRSMO2vfqar3R-xs5Z4xbeqYwrEMq2FXKGXm-l_H6QAlwCBk9uceKBfG-FjacfftM0WM_aoUC_oxRSXXYspQE3tCMHGvMBlb2K1NAdU6qWv3VAQAPdCo8VwTgdnyWv08CmeZ8hX_6Ty8FzetXYKnfXb0CTEFQOVF4p3R58LksVUd73FU6564OsrJt918LPEwqIPAPQ4dMgiH73sgLXnDndUDCdLSDHMSirr4uUaqbiWQq-X1SNdkh-3jzjhW4keeNt1TgQHSrzW3maYO3ryueQzYoMEhts8MP8HH5gs2NkCar9cr_guunglU7Zqaede4cLFhsCZWBLVHY4cKHgk8SzfH_0Rn3St2AQen9MaiT38L5QXsaq6zFMuGiT8M2Md50eS0JdRTdlWLJApbgAUqI3zltUXce-MaCrDtp_UiI6x3IR4fEZiCo0XDyoAesFjXZg9cIuSsLTiKkSAGzzledJU3crgSHjAIycQN2PH2_dBIa3ibAJLphqq6zLh0qiQn_dHh83ru2y7MgxRU85ithgjdIk3PgplREbW9_PLv5j9juYc1WXFNW9ML80UlTaC9D2rP3i80zESJJY56faKsA5GVCIFiUtc3EewSM_C0bkJSMiobIWiXFz7pMcadgZlweUdjBcjvaepHBe8wou0ZtDM9TKom0hs_nx_AKy0dnXGNWI1qftTjAg=w1920-h979-ft" alt=""></div>
			</div>
		</div>
	</section>
</body>
</html>
@*<h2>Login</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="UserName">UserName</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                    <label asp-for="RememberMe" class="form-check-label">Remember me?</label>
                </div>
                <span asp-validation-for="RememberMe" class="text-warning"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-success" />
          
            </div>
           </form>    
          </div>
         </div>*@



