@model SchoolApp.Models.RecoverPasswordViewModel
@{
    ViewData["Title"] = "Recover Password";
    Layout = null;
}
<head>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

     <link rel="stylesheet" href="~/css/Create.css" />
</head>
<partial name="_Navbar" />
   <body    style=" background-image: url(../images/students.jpg) ; background-repeat: no-repeat;background-size: cover;">
         <h1 style="font-size: 50px;align-items:center;background: #ecf4ffa3;margin-left: 692px;margin-top: 30px;padding-right:0px; width: 478px;">Recuperar Password</h1>
             <form method="post">
<main style="    margin-left: 924px;
    margin-top: 261px;
    width: 609px;
    height: 367px;">
 


  <figure style="    width: 613px;">
   
    <div class="form1" style="padding-top: 16px;
    margin-left: 170px;">
        <span>
          <label for="username" class="text-small-uppercase">Email:</label>
          <input class="text-body"asp-for="Email" id="email"type="email" required>
           <span asp-validation-for="Email" class="text-danger"></span>
        </span>
        
            <input class="text-small-uppercase" style="    left: 45px;
        bottom: 435px;
" id="submit" type="submit" value="Recuperar">
    </div>
    

 <h2 style="text-align: right;

    color: red;
    font-size: 25px;">@ViewBag.Message</h2>
  </figure>
 
 

 
</main>
 </form>
    </body>



@*
<br>
<br>
<h3 class="text-center">Recover Password</h3>
<br>
<br>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control bg-light" />
                <span asp-validation-for="Email" class="text-danger small"></span>
            </div>
            <br>
            <div class="form-group text-center">
                <input type="submit" value="Send" class="btn btn-secondary" />
            </div>
            <div class="text-danger text-center mr-4" asp-validation-summary="ModelOnly"></div>
        </form>
        <br>
        <div class="text-danger text-center">
            <p>
                @Html.Raw(ViewBag.Message)
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@